openapi: 3.2.0
info:
  title: Mosaic Open Work Plans API
  version: v1
  description: 'The Mosaic Open API exposes Mosaic''s resource-management, workforce

    planning, and project data so customers can build custom integrations

    beyond Mosaic''s packaged connectors.'
  contact:
    name: Mosaic
    url: https://readme.mosaicapp.com/reference/authentication
servers:
- url: https://api-server.prod.prod.us-east-1.mosaicapp.com
  description: Multi-tenant production API
security:
- apiKey: []
tags:
- name: Work Plans
paths:
  /api/{team_id}/work_plans:
    parameters:
    - $ref: '#/components/parameters/TeamId'
    - $ref: '#/components/parameters/XOrigin'
    - $ref: '#/components/parameters/XTenant'
    - $ref: '#/components/parameters/XRealmId'
    get:
      tags:
      - Work Plans
      operationId: listWorkPlans
      summary: Fetches all work plans
      responses:
        '200':
          description: Success
    post:
      tags:
      - Work Plans
      operationId: createWorkPlan
      summary: Creates a work plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created
  /api/{team_id}/work_plans/{id}:
    parameters:
    - $ref: '#/components/parameters/TeamId'
    - $ref: '#/components/parameters/Id'
    - $ref: '#/components/parameters/XOrigin'
    - $ref: '#/components/parameters/XTenant'
    - $ref: '#/components/parameters/XRealmId'
    patch:
      tags:
      - Work Plans
      operationId: updateWorkPlan
      summary: Updates a work plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Work Plans
      operationId: deleteWorkPlan
      summary: Destroys a work plan
      responses:
        '204':
          description: Deleted
  /api/{team_id}/work_plans/bulk_delete:
    parameters:
    - $ref: '#/components/parameters/TeamId'
    - $ref: '#/components/parameters/XOrigin'
    - $ref: '#/components/parameters/XTenant'
    - $ref: '#/components/parameters/XRealmId'
    post:
      tags:
      - Work Plans
      operationId: bulkDeleteWorkPlans
      summary: Destroys work plans in bulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
components:
  parameters:
    XRealmId:
      name: x-realm-id
      in: header
      required: true
      description: Realm ID (`prod` for multi-tenant customers).
      schema:
        type: string
        default: prod
    XTenant:
      name: x-tenant
      in: header
      required: true
      description: Tenant ID (`prod` for multi-tenant customers).
      schema:
        type: string
        default: prod
    TeamId:
      name: team_id
      in: path
      required: true
      description: Mosaic Team ID issued by your CSM.
      schema:
        type: string
    XOrigin:
      name: x-origin
      in: header
      required: true
      description: The domain used for making API calls (must match registered origin).
      schema:
        type: string
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token issued by your Mosaic Customer Success Manager. Send as the

        raw `Authorization` header value (no `Bearer` prefix).

        '
